input {
    color: grey;
    opacity: 0.7;
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

input:focus {
    color: black;
    opacity: 1;
}

.button {
    width: 130px;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
}

.button-1 {
    border: 3px solid #00d7c3;
    color: #00d7c3;
}

.button-1:hover {
    box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
    border: 3px solid #00d7c3;
}

div#rainbows {
    position: absolute;
    top: 10%;
    right: 10%;
    padding: 10px;
    overflow: auto;
}

.button-2 {
    border: 3px solid red;
    color: red;
}

.button-2:hover {
    box-shadow: 0 0 10px 0 red inset, 0 0 20px 2px red;
    border: 3px solid red;
}

.button-3 {
    border: 3px solid green;
    color: green;
}

.button-3:hover {
    box-shadow: 0 0 10px 0 green inset, 0 0 20px 2px green;
    border: 3px solid green;
}

*:focus {
    outline: none;
}