#di {
    display: flex;
    flex-direction: column;
}

#automatos {
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: column;
    width: max-content;
}

#automatos>a {
    margin-right: auto;
    margin-left: auto;
}

#buttons {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

#id1 {
    position: absolute;
    bottom: 2px;
    margin: 0;
}

#id1>h1 {
    font-size: 0.8em;
    font-family: 'Courier New', Courier, monospace;
}

#divs {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    justify-content: space-around;
}

#legenda {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

#graphs {
    margin-left: auto;
    margin-right: auto;
}


/*inputs*/

input {
    color: grey;
    opacity: 0.7;
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

input:focus {
    color: black;
    opacity: 1;
}


/*legendas*/

#legenda>h1 {
    line-height: 1.5;
    font-size: 1em;
    font-family: sans-serif;
    position: relative;
    margin: 0;
}

.button {
    width: 150px;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
}

.button-1 {
    border: 3px solid #00d7c3;
    color: #00d7c3;
}

.button-1:hover {
    box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 8px 0px #00d7c3;
    border: 3px solid #00d7c3;
}

.button-2 {
    border: 3px solid red;
    color: red;
}

.button-2:hover {
    box-shadow: 0 0 10px 0 red inset, 0 0 8px 0px red;
    border: 3px solid red;
}

.button-3 {
    border: 3px solid green;
    color: green;
}

.button-3:hover {
    box-shadow: 0 0 10px 0 green inset, 0 0 8px 0px green;
    border: 3px solid green;
}


/*arrumar esse outline chato*/

*:focus {
    outline: none;
}